DB_HOST=localhost
DB_PORT=5432
DB_NAME=Car-Hub
DB_USER=postgres
DB_PASSWORD=mankirat
DATABASE_URL=postgresql://postgres:mankirat@localhost:5432/Car-Hub

SESSION_SECRET=car-hub-secret-key

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
